.navigation{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-height: 256px;
    height: 100%;
    padding: 0 15px;

    button{
        max-width: 204px;
        min-height: 48px;
        border-radius: 20px;
        color: #363755;
        border: 1px solid #363755;
        background-color: #FFFFFF;
    }
}